*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: url();
  }
.card {
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg, #00feba, #5b548a);
    color: #ffff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 .search{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
 } 
.search input{
    border: 0;
    outline: 0;
    background:#ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-style: 18px;
} 
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-style: 80px;
    font-weight: 700;
}
.weather h2{
    font-style: 45px;
    font-weight: 400;
    margin-top: -10px;
}
